.item{
	float: left;
	width: 80%;
	max-width: 450px;
	height: 200px;
	border: solid;
	padding: 10px;
	margin: 10px;
	background-color: #6173F9;
	box-shadow: 2px 2px 5px black;
	border-radius: 5px;
}
.pub{
	float: left;
	width: 45%;
}
.nombre{

	width: 50%;
	margin-top: 0px;
	margin-bottom: -10px;
	color: blue;
	font-size: 20px;
}
img{

	border: solid 1px;
	margin-top: 0px;
	width: 50%;
	float: right;
	clear: bottom ;
	min-height: 60%;
	max-height: 150px;

}
body{
	background-color: #D6D7D9;
}
footer{
	width: 100%;
	float: left;
	bottom: 0;
	text-align: center;
	font-size: 30px;
}