div{
	float: left;
	width: 200px;
	height: 120px;
	border: solid;
	padding: 10px;
	margin: 10px;
	background-color: #6173F9;
	box-shadow: 2px 2px 5px black;
	border-radius: 5px;
}
.nombre{
	margin-top: 0;
	margin-bottom: 0;
	color: blue;
	font-size: 20px;
}
body{
	background-color: #27868C
}
footer{
	width: 100%;
	float: left;
	bottom: 0;
	text-align: center;
	font-size: 30px;
}