

input{
	display: inline-block;
	float: left;
	margin: 5px;
	height: 20px;
}

label{
	float: left;
	display: inline-block;
	width: 50%
}

input[type="submit"]{
	width: 200px;
	height: 50px;
	margin-left: 20%;
	margin-top: 30px;

}

input[type="file"]{
	
	height: 30px;
	font-size: 15px
	
}
a{
	float: left;
	width: 100%;
	margin-top: 50px;
}
.datos{
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	border: solid;
	height: 500px;
	background-color: #C3BBBB
}